__pycache__/main.cpython-311.pyc
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_20__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_24__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_28__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_24_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_28_[Changes]/shelved.patch
__pycache__/main.cpython-311.pyc
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_24_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_28_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_24_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_28_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_019_19_02_24_12_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/jourbd.sqlite
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_19_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_20_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_24_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_020_20_02_24_11_28_[Changes]/shelved.patch
__pycache__/main.cpython-311.pyc
__pycache__/atolMain.cpython-311.pyc
__pycache__/libfptr10.cpython-311.pyc
